# Aula 08 - Banco de Dados: Consultando Dados em Múltiplas Tabelas
 
Agora que já sabemos criar múltiplas tabelas com seus relacionamentos, precisamos aprender a consultar esses dados também. A maioria dos sistemas hoje em dia tem dezenas e até centenas de tabelas se relacionando, então utilizamos o conceito de **JOIN** para realizar as consultas em múltiplas tabelas.
 
## JOINs
 
![](https://s3-sa-east-1.amazonaws.com/lcpi/b9b00c20-ef6e-4a50-8809-6b226d583da3.png)
##### Fonte: Autoria própria
 
 
Os diagramas acima ilustram, usando a linguagem da Teoria dos Conjuntos, a lógica por trás de cada um dos principais tipos de JOINs. Vamos ver cada um deles mais de perto.
 
Antes de vermos os tipos de JOINs, vamos utilizar a estrutura de duas tabelas abaixo para exemplificar:
 
Tabela de **Categoria**
 
```SQL
CREATE TABLE Categoria
(
    Id SERIAL PRIMARY KEY,
    Nome VARCHAR(50)
)
 
INSERT INTO Categoria(Nome)
    VALUES  ('Informática'),
            ('Telefonia'),
            ('Games'),
            ('Esportes')
```
 
Um SELECT simples em tal tabela retornaria os seguintes registros:
 
| **Id** |   **Nome**  |
|:------:|:-----------:|
| 1      | Informática |
| 2      | Telefonia   |
| 3      | Games       |
| 4      | Esportes    |
 
Também utilizaremos a tabela de **Produto**, contendo produtos que, por sua vez, possuem categorias.
 
```
CREATE TABLE Produto
(
    Id SERIAL PRIMARY KEY,
    IdCategoria INT,
    Nome VARCHAR(50),
    Preco DECIMAL(9,2),
    FOREIGN KEY (IdCategoria) REFERENCES Categoria(Id)
)
 
INSERT INTO Produto(IdCategoria, Nome, Preco)
    VALUES  (1, 'Notebook Ada', 4500.50),
            (1, 'Notebook Ada Pro', 7500.50),
            (1, 'Teclado mecânico', 500.33),
            (1, 'Mouse de bolinha', 1000.67),
            (2, 'iPhone 1', 5555.67),
            (2, 'Google Phone X', 1234.56),
            (3, 'XBOX One', 700.00),
            (3, 'Playstation 2', 100.00),
            (NULL, 'Caneta', 50.88)
```
 
Selecionando os registros, temos o seguinte resultado:
 
| **Id** | **IdCategoria** |     **Nome**     | **Preco** |
|:------:|:---------------:|:----------------:|:---------:|
| 1      | 1               | Notebook Ada     | 4500.50   |
| 2      | 1               | Notebook Ada Pro | 7500.50   |
| 3      | 1               | Teclado mecânico | 500.33    |
| 4      | 1               | Mouse de bolinha | 1000.67   |
| 5      | 2               | iPhone 1         | 5555.67   |
| 6      | 2               | Google Phone X   | 1234.56   |
| 7      | 3               | XBOX One         | 700.00    |
| 8      | 3               | Playstation 2    | 100.00    |
| 9      | NULL            | Caneta           | 50.88     |
 
 
Podemos notar que cada produto tem sua categoria, onde temos um relacionamento de 1 para N entre categorias e produtos, onde 1 categoria tem N produtos. Esse relacionamento se dá pois temos a tabela de categorias onde ficam os "domínios", e temos a tabela de produtos armazenando em cada produto na coluna de **IdCategoria** o ID da categoria que ele pertence.
 
### INNER JOIN
 
Um exemplo para a utilização do INNER JOIN, seria se quiséssemos buscar os produtos que tem categorias, e assim poderíamos incluir a coluna de nome da categoria na listagem para cada produto, nossa query ficaria da seguinte forma:
 
~~~SQL
SELECT *
    FROM Produto p
        INNER JOIN Categoria c
            ON p.IdCategoria = c.Id;
~~~
 
Podemos notar que após o **SELECT * FROM Produto p**, incluímos as palavras reservadas **INNER JOIN** que indica que queremos fazer a junção com a tabela de **Categoria**, após a tabela colocamos a palavra **ON** onde vamos indicar qual é o campo que o banco de dados deve utilizar para fazer essa junção, passando assim em cada e linha trazendo a categoria correta para cada IdCategoria. Esse seria o resultado da listagem:
 
![Utilização do INNER JOIN](https://s3-sa-east-1.amazonaws.com/lcpi/3c9895bf-5924-44b4-9156-b383b4eaca11.PNG)
##### Fonte: Autoria própria
 
 
Podemos observar que com o INNER JOIN, só listamos os produtos que realmente tem categoria, ou seja, a coluna do produto **IdCategoria** está preenchida com o relacionamento, o produto "Caneta" que estava com esse campo **NULL** não foi listado. Além disso podemos observar também que além das informações dos produtos, para cada produto temos as colunas referentes a sua categoria também.
 
Neste caso quando colocamos a palavra **Produto p** na query estamos dando um apelido (alias) para tabela, e fazemos a mesma coisa para a tabela de categorias, utilizando **Categoria c**, o ideal é sempre utilizarmos alias quando fizermos joins.
 
### LEFT JOIN
 
Um exemplo de utilização para o left join, seria se quiséssemos buscar os produtos mesmo que não tenham categorias, e ainda assim trazer a listagem para cada produto de sua categoria. Neste caso o produto "Caneta" seria listado, mesmo a coluna de **IdCategoria** estando com valor NULL, mas aí não teríamos o nome da categoria nem se ela está ativa, pois não é encontrada uma relação para fazer join.
 
Nossa query ficaria da seguinte forma:
 
~~~SQL
SELECT *
    FROM Produto p
        LEFT JOIN Categoria c
            ON p.IdCategoria = c.Id;
~~~
 
Esse seria o resultado da execução da nossa query:
 
![Utilização do LEFT JOIN](https://s3-sa-east-1.amazonaws.com/lcpi/d92e758d-ade0-407f-849e-29b13b1dbffa.PNG)
##### Fonte: Autoria própria
 
 
Podemos notar então que com o LEFT JOIN, obtemos tudo que está na primeira tabela e, deste conjunto, o que der match na segunda tabela.
 
### RIGHT JOIN
 
Um exemplo de utilização para o right join, seria se quiséssemos buscar os produtos e suas categorias, mesmo que as categorias não tenham produtos. Neste caso, o produto "Caneta" **não** seria listado, pois a prioridade agora é obter tudo que está na segunda tabela e, deste conjunto, o que der match na primeira tabela. Neste caso, a categoria "Esportes", mesmo sem possuir produtos relacionados, é retornada.
 
Nossa query ficaria da seguinte forma:
 
~~~SQL
SELECT *
    FROM Produto p
        RIGHT JOIN Categoria c
            ON p.IdCategoria = c.Id;
~~~
 
Esse seria o resultado da execução da nossa query:
 
![Utilização do RIGHT JOIN](https://s3-sa-east-1.amazonaws.com/lcpi/6ada4fce-c7ba-4a55-848c-565e05322694.PNG)
##### Fonte: Autoria própria
 
 
Podemos notar então que com o RIGHT JOIN, obtemos tudo que está na segunda tabela (Categorias), e depois o que dá match com a primeira (Produtos).
 
### FULL JOIN
 
Com o FULL JOIN obtemos tudo que está nas duas tabelas, então teríamos todos os produtos com suas categorias, todos os produtos sem categoria também e por fim todas as categorias sem produtos.
 
Nossa query ficaria da seguinte forma:
 
~~~SQL
SELECT *
    FROM Produto p
        FULL JOIN Categoria c
            ON p.IdCategoria = c.Id;
~~~
 
Esse seria o resultado da execução da nossa query:
 
![Utilização do FULL JOIN](https://s3-sa-east-1.amazonaws.com/lcpi/5e77f6fa-f8e1-4d25-bb5e-c9ef244ea6af.PNG)
##### Fonte: Autoria própria
 
 
De todos os exemplos, os mais utilizados na prática são **INNER JOIN** E **LEFT JOIN**.
 
Além disso, embora as operações acima estejam descritas para duas tabelas, elas foram concebidas para conectar um **número arbitrário** delas, mas **sempre aos pares**, repetindo a estrutura.
 
 
## UNION E UNION ALL
 
### UNION
 
O operador UNION nos ajuda a combinar os resultados de duas queries em um único resultado, e ele funciona similar a um select distinct, para que ele funcione o número e a ordem das colunas das duas/mais consultas precisam ser idênticas em todas as queries e os data types precisam ser compatíveis também.
 
Podemos utilizar o _UNION_ por exemplo para buscar nomes e CPFs de clientes e funcionários.
 
~~~SQL
SELECT  Nome,
        Cpf
    FROM Cliente
 
UNION
 
SELECT  NomeFuncionario,
        Cpf
    FROM Funcionario
~~~
 
 
### UNION ALL
 
O operador UNION ALL é semelhante ao operador anterior, porém ele não se preocupa em fazer o "distinct". Nossa query ficaria da seguinte forma:
 
~~~SQL
SELECT  Nome,
        Cpf
    FROM Cliente
 
UNION ALL
 
SELECT  NomeFuncionario,
        Cpf
    FROM Funcionario
~~~
 
> A grande diferença é que se houvesse um funcionário que também é cliente, com o `UNION ALL` esse registro seria retornado duas vezes, já com o `UNION` o registro seria retornado apenas uma vez.
 
 
## Referências e materiais complementares
 
[Joins Between Tables][1]
 
[Combining Queries (UNION, INTERSECT, EXCEPT)][2]
 
 
[1]: https://docs.microsoft.com/pt-br/sql/relational-databases/performance/joins?view=sql-server-ver16
[2]: https://docs.microsoft.com/pt-br/sql/t-sql/language-elements/set-operators-union-transact-sql?view=sql-server-ver16